@import "tailwindcss";

@theme {
  --font-OpenSans: "Open Sans", sans-serif;
  --font-Sansation: "Sansation", sans-serif;
  --font-Audiowide: "Audiowide", sans-serif;
  --font-Wallpoet: "Wallpoet", sans-serif;

  --animate-cBounce: cBounce 1.8s ease-in-out infinite;
  @keyframes cBounce {
    0%,
    100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

html,
body {
  @apply bg-gray-950 font-OpenSans text-lg text-gray-100;

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}
